<header>
  <div class="container" id="maincontent" tabindex="-1">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="../assets/img/logomic.png" alt="logo">
        <div class="intro-text">
          <h1 class="name">Skillpoint</h1>
          <hr class="star-light">
          <span class="skills">"Everyone has a chance to learn, improve, and build up their skills." <small>(Tom Peters)</small><br/>And this is yours.</span>
        </div>
      </div>
    </div>
  </div>
</header>
