<!-- About The Website Section -->
<section id="website">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br><br>
        <h2>About The Website</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>SkillPoint is a website desinged for improving the technical skills of its users by offering personalized suggestions of events such as trainings, conferences, or contests. You can join the events that suit you the best and climb higher on the leaderboards.  </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to enhance your skills, a professional looking for new challenges, or one changing your career, this website is the perfect place to find new opportunities to do so.</p>
      </div>
    </div>
  </div>
</section>
