<div class="row" id="event_list">

  <div *ngFor="let event of this.events">
    <div class="col-sm-4 event-item ">
      <a href="#{{event.id}}" class="event-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cover">
          <img *ngIf="event.image != ''" src="{{event.image}}" class="img-responsive" alt="java logo">
          <img *ngIf="event.image == ''" src="../../../assets/img/default.png" class="img-responsive" alt="java logo">

        </div>
        <div class="event-description">
          <h3>{{event.name}}</h3>
          <p *ngIf="event.location !=''"><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>&nbsp;{{event.location}}
          </p>
          <p *ngIf="event.location ==''"><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>&nbsp;Not
            available
          </p>
          <p><i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>&nbsp;{{event.dateAndTime | date:
            'dd-MM-yyyy'}}</p>
          <button *ngIf="currentUrl === '/'" class="btn center-block">Attend</button>
          <button *ngIf="currentUrl === '/events'" class="btn center-block">Attending</button>
        </div>
      </a>
    </div>
    <app-event-modal [events]="this.events" [event]="event"></app-event-modal>

  </div>
</div>
