<section id="event-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Events</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row" id="event_list">
      <div class="col-sm-4 event-item">
        <a href="#eventModal1" class="event-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <img src="../assets/img/events/logohtml.png" class="img-responsive" alt="html logo">
          <div class="event-description">
            <h3>Web Technologies Training</h3>
            <p><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>&nbsp;Facultatea de Informatica Iasi, in spate la FEAA acolo stiti voi unde ia sa testam oleaca</p>
            <p><i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>&nbsp;17 January 2018</p>
            <!-- <button class="btn center-block">Attending</button> -->
          </div>
        </a>
      </div>
      <div class="col-sm-4 event-item">
        <a href="#eventModal2" class="event-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <img src="../assets/img/events/php.png" class="img-responsive" alt="php logo">
          <div class="event-description">
            <h3>PHP Hackathon</h3>

            <p><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>&nbsp;Facultatea de Informatica Iasi</p>
            <p><i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>&nbsp;1 February 2018</p>
            <!-- <button class="btn btn-success center-block">Attend</button> -->
          </div>
        </a>
      </div>
      <div class="col-sm-4 event-item">
        <a href="#eventModal3" class="event-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <img src="../assets/img/events/logojava.png" class="img-responsive" alt="Circus tent">
          <div class="event-description">
            <h3>Java Meeting</h3>

            <p><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>&nbsp;Facultatea de Informatica Iasi</p>
            <p><i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>&nbsp;1 February 2018</p>
            <!-- <button class="btn center-block">Attending</button> -->
          </div>
        </a>
      </div>
      <div class="col-sm-4 event-item">
        <a href="#eventModal4" class="event-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <img src="../assets/img/events/logojava.png" class="img-responsive" alt="java logo">
          <div class="event-description">
            <h3>Java Workshop</h3>
            <p><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>&nbsp;Facultatea de Informatica Iasi</p>
            <p><i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>&nbsp;14 February 2018</p>
             <button class="btn center-block btn-success">Attend</button>
          </div>
        </a>
      </div>
      <div class="col-sm-4 event-item">
        <a href="#eventModal5" class="event-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <img src="../assets/img/events/logohtml.png" class="img-responsive" alt="html logo">
          <div class="event-description">
            <h3>Web Technologies Training</h3>
            <p><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>&nbsp;Facultatea de Informatica Iasi, in spate la FEAA acolo stiti voi unde ia sa testam oleaca</p>
            <p><i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>&nbsp;28 February 2018</p>
             <button class="btn center-block btn-success">Attend</button>
          </div>
        </a>
      </div>
      <div class="col-sm-4 event-item">
        <a href="#eventModal6" class="event-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <img src="../assets/img/events/logojava.png" class="img-responsive" alt="java logo">
          <div class="event-description">
            <h3>Java Hackathon</h3>
            <p><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>&nbsp;Facultatea de Informatica Iasi</p>
            <p><i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>&nbsp;27 March 2018</p>
             <button class="btn center-block">Attending</button>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
