<br><br>
<section id="profile" style="padding-top: 100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Profile</h2>
        <hr class="star-primary"/>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">

        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <p>Name: <b>{{this.user.name}}</b></p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <p>Email: <b>{{this.user.email}}</b></p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <p>Location: <b>{{this.user.location}}</b></p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <p>Username: <b>{{this.user.username}}</b></p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <p>Events attended: <b>102</b></p>
          </div>
        </div>

        <!--TODO: FOREACH pentru tag-uri-->
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <p>Interests:</p>
          </div>
          <div class="col-lg-4">
            <span *ngFor="let tag of this.user.tags" class="badge badge-edit">{{tag.label | uppercase}}</span>
          </div>
        </div>


        <br><br>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2" id="Edit">
            <button routerLink="/edit" type="submit" class="btn btn-success btn-lg">Edit</button>
          </div>
        </div>


      </div>
      <div class="col-md-4">
        <img class="img-responsive center-block" src="../assets/img/profile.png" alt="Profile picture">
        <div class="intro-text">
          <h1 class="name text-center">{{this.user.username}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
