<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">

    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <img src="../assets/img/logo.png" alt="Logo" class="img-responsive" id="logo">
      <a class="navbar-brand-image" href="#page-top">
        <span id="brand-name">Skillpoint</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a href="#loginModal" data-toggle="modal">Login</a>
        </li>
        <li class="page-scroll">
          <a href="#events">Events</a>
        </li>
        <li class="page-scroll">
          <a href="#leaderboards">Leaderboards</a>
        </li>
        <li class="page-scroll">
          <a href="about-login.html">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
