<!--Attended Events Section -->
<section id="attended-events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Attended events</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 event-item">
        <a href="#eventModal6" class="event-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <img src="../assets/img/events/logohtml.png" class="img-responsive" alt="HTML">
          <div class="event-description">
            <h3>Web Technologies Training</h3>
            <p><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>&nbsp; Facultatea de Informatica Iasi</p>
            <p><i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>&nbsp;13 April 2017</p>
            <button class="btn btn-default center-block">Attended</button>
          </div>
        </a>
      </div>
      <div class="col-sm-4 event-item">
        <a href="#eventModal7" class="event-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <img src="../assets/img/events/php.png" class="img-responsive" alt="PHP">
          <div class="event-description">
            <h3 style="color:#2C3E50" >PHP Hackathon</h3>
            <p><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>&nbsp; Facultatea de Informatica Iasi</p>
            <p><i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>&nbsp;1 April 2017</p>
            <button class="btn btn-default center-block">Attended</button>
          </div>
        </a>
      </div>
      <div class="col-sm-4 event-item">
        <a href="#eventModal8" class="event-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
            </div>
          </div>
          <img src="../assets/img/events/logojava.png" class="img-responsive" alt="Java">
          <div class="event-description">
            <h3>Java Training</h3>
            <p><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>&nbsp; Facultatea de Informatica Iasi</p>
            <p><i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>&nbsp;15 March 2017</p>
            <button class="btn btn-default center-block">Attended</button>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
