<!-- Leaderboard Section -->
<section class="success" id="leaderboards">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Leaderboards</h2>
        <hr class="star-light">
      </div>
    </div>
    <table class="table">
      <tr>
        <th class="text-center">Rank</th>
        <th class="text-center">Username</th>
        <th class="text-center">Points</th>
      </tr>
      <tr>
        <td class="text-center">1</td>
        <td class="text-center">Jane Doe</td>
        <td class="text-center">12,300</td>
      </tr>
      <tr>
        <td class="text-center">2</td>
        <td class="text-center">H4cker92</td>
        <td class="text-center">10,300</td>
      </tr>
      <tr>
        <td class="text-center">3</td>
        <td class="text-center">Don Trump</td>
        <td class="text-center">8,200</td>
      </tr>
      <tr>
        <td class="text-center">4</td>
        <td class="text-center">Maximilian Mustarescu</td>
        <td class="text-center">6,300</td>
      </tr>
      <tr>
        <td class="text-center">5</td>
        <td class="text-center">dog</td>
        <td class="text-center">4,200</td>
      </tr>
    </table>
  </div>
</section>
